.vertical_container{
    width: 90%;
    margin: 90px auto;

}

.vertical_h2{
    margin-bottom: 80px;
    font-size: 25px;
    color: #7B7B7B;
}

.vertical_block{
    display: flex;
}
.vertical_title_button{
    flex-basis: 300px;
}
.button{
    display: block;
    background-color: green;
height: 45px;
border: none;
cursor: pointer;
margin-bottom: 5px;
font-size: 14px;
width: 100%;

}

.vertical_content{
    margin-left: 20px;
    flex-basis: 700px;
}
