.title{
    margin-bottom: 40px;
    font-size: 18px;
}

.title_accordions{
   cursor: pointer;
    padding: 5px;
}
.content_accordions{
    padding: 5px;
    color: rgba(128, 128, 128, 0.705);
    border-bottom: 1px solid rgba(128, 128, 128, 0.705);
    border-left: 1px solid rgba(128, 128, 128, 0.705);

    border-right: 1px solid rgba(128, 128, 128, 0.705);

}